pipeline/Ingesta NBA.json
{
	"name": "Ingesta NBA",
	"properties": {
		"description": "Pipeline encargado de hacer la ingesta de datos de las tablas de la base de datos del NBA.",
		"activities": [
			{
				"name": "NombreTabla",
				"description": "Lookup encargado de buscar los nombres de las tablas de la base de datos de la NBA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM DB_NBA.INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'dbo' AND TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "NBA_ChrisRedfield",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Repetir",
				"description": "ForEach que repite la copia de las tablas de la base de datos NBA y las guarda en una carpeta de mi container.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "NombreTabla",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('NombreTabla').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopiarTabla",
							"description": "Copia las tablas de la base de datos NBA y las guarda en una carpeta de mi container.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "NBA_Database_Parametrizado",
									"type": "DatasetReference",
									"parameters": {
										"Esquema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"Tabla": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Tablas_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Contenedor",
											"type": "Expression"
										},
										"Carpeta": {
											"value": "@concat('Raw/', formatDateTime(utcNow(), 'dd-MM-yyyy'))",
											"type": "Expression"
										},
										"Archivo": {
											"value": "@concat(item().table_schema, '.', item().table_name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Contenedor": {
				"type": "string",
				"defaultValue": "chris-redfield-integrador"
			},
			"Carpeta": {
				"type": "string",
				"defaultValue": "Raw"
			}
		},
		"folder": {
			"name": "Integrador Chris Redfield"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-22T06:37:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}