ADF-Integrador/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "ADF-Integrador"
		},
		"AzureDatabricks_NBA_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"AzureDatabricks_NBA\""
		},
		"Data_Lake_NBA_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"Data_Lake_NBA\""
		},
		"NBA_Database_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"NBA_Database\""
		},
		"AzureDatabricks_NBA_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0315-131400-v6luecx0"
		},
		"Data_Lake_NBA_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://formacionanalitica.dfs.core.windows.net/"
		},
		"KeyVault_NBA_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KeyVault-ChrisRedfield.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Ingesta NBA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline encargado de hacer la ingesta de datos de las tablas de la base de datos del NBA.",
				"activities": [
					{
						"name": "NombreTabla",
						"description": "Lookup encargado de buscar los nombres de las tablas de la base de datos de la NBA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT *\nFROM DB_NBA.INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'dbo' AND TABLE_TYPE = 'BASE TABLE'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "NBA_ChrisRedfield",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Repetir",
						"description": "ForEach que repite la copia de las tablas de la base de datos NBA y las guarda en una carpeta de mi container.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "NombreTabla",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('NombreTabla').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopiarTabla",
									"description": "Copia las tablas de la base de datos NBA y las guarda en una carpeta de mi container.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "NBA_Database_Parametrizado",
											"type": "DatasetReference",
											"parameters": {
												"Esquema": {
													"value": "@item().table_schema",
													"type": "Expression"
												},
												"Tabla": {
													"value": "@item().table_name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Tablas_CSV",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Contenedor",
													"type": "Expression"
												},
												"Carpeta": {
													"value": "@concat('Raw/', formatDateTime(utcNow(), 'dd-MM-yyyy'))",
													"type": "Expression"
												},
												"Archivo": {
													"value": "@concat(item().table_schema, '.', item().table_name,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Contenedor": {
						"type": "string",
						"defaultValue": "chris-redfield-integrador"
					},
					"Carpeta": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Integrador Chris Redfield"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-22T06:37:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/NBA_ChrisRedfield')]",
				"[concat(variables('factoryId'), '/datasets/NBA_Database_Parametrizado')]",
				"[concat(variables('factoryId'), '/datasets/Tablas_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orquestacion NBA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline orquestador del trabajo integrador NBA.",
				"activities": [
					{
						"name": "Ingesta NBA",
						"description": "Ejecuta el Pipeline \"Ingesta NBA\"",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Ingesta NBA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Raw-Trusted",
						"description": "Notebook que limpia las tablas del DataLake.",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingesta NBA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/chris_san11@hotmail.com/Raw-Trusted"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_NBA",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Trusted-Refined",
						"description": "Notebook que guarda en la base de datos, las tablas listas para su análisis.",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Raw-Trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/chris_san11@hotmail.com/Trusted-Refined"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_NBA",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Integrador Chris Redfield"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Ingesta NBA')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_NBA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NBA_ChrisRedfield')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NBA_Database",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Chris Redfield Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/NBA_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NBA_Database_Parametrizado')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NBA_Database",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Esquema": {
						"type": "string"
					},
					"Tabla": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Chris Redfield Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Esquema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Tabla",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/NBA_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tablas_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Data_Lake_NBA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Carpeta": {
						"type": "string"
					},
					"Archivo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Chris Redfield Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Archivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Carpeta",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Data_Lake_NBA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_NBA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service para las notebooks del NBA.",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7873050881736469.9.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_NBA_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_NBA_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data_Lake_NBA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Data Lake para guardar las tablas del NBA",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Data_Lake_NBA_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Data_Lake_NBA_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVault_NBA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service de la Key Bault para la base de datos NBA",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KeyVault_NBA_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NBA_Database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service de la base de datos de la NBA.",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('NBA_Database_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}